:root {
  --col-darkest: black;
  --col-dark: #313131;
  --col-grey: grey;
  --col-light: #d3d3d3;
  --col-lighter: white;
}

body {
  background-color: var(--col-lighter);
  top: 0;
  margin: 0 60px;
  overflow-x: hidden;

}

/* --------------nav section----------------- */
nav {
  background-color: var(--col-lighter);
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list--item {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  justify-content: space-between;
  padding: 1px 10px;
  color: var(--col-dark);
}

#nav-font {
  font-family: "Handlee", cursive;
  margin-left: 80px;
  font-weight: bolder;
  font-size: x-large;
}

.nav-list--item:hover {
  font-weight: bold;
  color: var(--col-darkest);
  border-bottom: 1px solid var(--col-darkest);
}

/* --------- header section ------------- */
header {
  background-color: var(--col-light);
  width: 90%;
  height: 550px;
  margin-left: -60px;
}

.header-div {
  background-color: var(--col-dark);
  color: var(--col-lighter);
  width: 33%;
  height: 220px;
  display: block;
  float: right;
  padding: 0px 40px;
  margin-right: -100px;
  margin-top: 120px;
}

.clear_fix {
  clear: both;
}

/* ------------- vegan section --------------- */
.vegan_section {
  display: flex;
  /*   */
  align-items: center;
  width: 80%;
  position: relative;
  top: 0;
  margin-top: 100px;
}

.vegan_section h1 {
  color: var(--col-light);
  font-size: 250px;
  margin: -50px 0px 0px -90px;
  flex-grow: 1;
}

.vegan_section h2 {
  font-size: 40px;
  flex-grow: 1;
  padding: 25px 25px 25px 20px;
  margin: 0;
}

.vegan_section h6 {
  flex-grow: 2;
  padding-left: 250px;
  font-size: larger;
}

.vegan-container {
  display: flex;
  /* margin-top: -45px; */
  justify-content: flex-end;
}

.vegan-box-item {
  background-color: var(--col-grey);
  height: 130px;
  width: 210px;
  margin-left: 10px;
  margin-top: -45px;
}

/* ----------- mountain section --------------- */
.mountain-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.mountain-box-item1 {
  background-color: var(--col-light);
  height: 420px;
  width: 420px;
}

.mountain-box-item2 {
  width: 420px;
  height: 420px;
  font-size: 26px;
}

.mountain-box-item3 {
  /* transform: rotate(90deg); */
  width: 420px;
  height: 420px;
  /* font-size: 26px; */
  margin-top: 0px;
}

.mountain-box-item3 h1 {
  transform: rotate(90deg);
  font-size: 26px;
  padding-left: 100px;
}

/* ---------------- winter section -------------- */
.winter-container {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  width: 100%;
}

.winter-box-item1 {
  height: 420px;
  width: 420px;
  font-size: 26px;
}

.winter-box-item2 {
  height: 420px;
  width: 300px;
  background-color: var(--col-light);
}

.winter-box-item3 {
  height: 300px;
  width: 200px;
  background-color: var(--col-grey);
  margin-right: -350px;
  margin-top: -150px;
  z-index: 1;
}

.winter-box-item4 {
  height: 300px;
  width: 200px;
  background-color: var(--col-light);
  margin-top: -100px;
}

/* ---------------- Adventure section -------------- */
.adventure-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.adventure-box-item1 h1 {
  font-size: 250px;
  margin-left: -100px;
  color: var(--col-light);
  font-weight: bolder;
  margin-top: 0px;
}

.adventure-box-item2 h1 {
  padding: 70px 0;
  font-size: xx-large;
}

.adventure-box-item3 h1 {
  font-size: 250px;
  margin-right: -100px;
  color: var(--col-light);
  font-weight: bolder;
  margin-top: 0px;
}

/*# sourceMappingURL=styles.css.map */

/* ------------ Travel faster section --------------- */
.travel-faster-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.travel-faster-item1 {
    width: 400px;
    height: 500px;
    background-color: var(--col-light);
    margin-left: -60px;
    margin-top: -100px;
}
.travel-faster-item2 {
    width: 400px;
    height: 500px;
    background-color: var(--col-grey);
    margin-left: -650px;
}
.travel-faster-item3 {
    width: 400px;
    height: 500px;
    margin-right: 200px;
}
/* ------------ Travel mystery section --------------- */
.travel-mystery-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.travel-mystery-item1 {
    width: 500px;
    height: 400px;
}
.travel-mystery-item2 {
    width: 600px;
    height: 400px;
    background-color: var(--col-grey);
    margin-top: -80px;
    margin-right: -650px;
    z-index: 1;
}
.travel-mystery-item3 {
    width: 600px;
    height: 400px;
    background-color: var(--col-light);
    margin-right: 0px;
}

/* ---------------- Video section -------------- */

.video-container {
  display: flex;
  max-width: 100%;
  margin-left: -60px;
  margin-top: 50px;
}

.video-travel {
  font-size: 250px;
  margin-left: -100px;
  color: var(--col-light);
  font-weight: bolder;
  margin-top: -245px;
  margin-left: -900px;
}

.video-playlist ul {
  list-style-type: none;
  font-size: 30px;
  margin-left: 200px;
}
/* -------------- Nature section ----------------- */
.nature-last-container {
    display: flex;
    justify-content: space-between;
}
.nature-item1 {
    width: 500px;
    height: 200px;
    margin-top: 100px;
}
.nature-item2 {
    width: 600px;
    height: 500px;
    background-color: var(--col-light);
    margin-top: -200px;
    margin-right:150px;
}
/* ------------- Bold-bunch section ------------ */
.bold-bunch-container {
    display: flex;
    justify-content: start;
    margin-top: 50px;

}
.bold-bunch-item1 {
    width: 200px;
    height: 200px;
}
.bold-bunch-item1 h1 {
    font-size: 250px;
    color: var(--col-light);
    margin-left: -120px;
    margin-top: -120px;
    width: 400px;
}
.bold-bunch-item2 {
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-top: -50px;
    align-content: center;
}
/* ------------ Second travel section --------------- */
.second-travel-container {
    display: flex;
    justify-content: space-between;
}
.second-travel-item1 {
    background-color: var(--col-light);
    width: 350px;
    height: 450px;
    margin-left: 100px;
}
.second-travel-item2 {
    background-color: var(--col-grey);
    width: 350px;
    height: 450px;
    margin-left: -400px;
    margin-top: -100px;
}
.second-travel-item3 h1{
    font-size: 250px;
    color: var(--col-light);
    margin-left: 0px;
    margin-right: -280px;
}
/* ------------- Hill station section ---------------- */
.hill-stations-container {
    display: flex;
    justify-content: space-between;
}
.hill-station-item1 {
    width: 350px;
    margin-top: 100px;
}
.hill-station-item2 {
    width: 600px;
    height: 700px;
    background-color: var(--col-light);  
    margin-top: -240px;
}
/* --------- Background pic --------------- */
.background-pic {
    margin-left: -60px;
}
/* ---------------- Footer section -------------- */

#site-footer {
    background-color: var(--col-darkest);
    color: var(--col-lighter);
    margin-left: -60px;
    margin-right: -60px;
    
}
.col ul {
    list-style-type: none;
}
.link-color {
    color: var(--col-grey);
}
.container h4 {
  font-family: "Handlee", cursive;
  font-weight: bolder;
}

.col-auto input {
  background-color: var(--col-darkest);
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
}
.fa-facebook {

    color: var(--col-lighter);
  }
.fa-youtube {
    color: var(--col-lighter);
  }
.fa-instagram {
    color: var(--col-lighter);
  }
.fa-twitter {
    color: var(--col-lighter);
  }